<h1>¡Bienvenido {{first_name}}!</h1>
<form action="/api/sessions/logout" method="GET">
    <button type="submit">Log Out</button>
</form>
{{#if isAdmin}}
    <h3>Usuario Admin</h3>
{{/if}}
<a href="/uploadfiles">Ir a Subir Archivos</a>
<a href="/cart/{{cart}}">Ir al Carrito</a>
{{#each Products}}
<form action="http://localhost:8081/api/cart/{{../cart}}/product/{{_id}}" method="POST">
    <h1>{{title}}</h1>
    <h2>${{price}},00</h2>
    <h3>Stock: {{stock}}</h3>
    <h3>{{category}}</h3>
    <button type="submit" onclick="addProductToCart(e, {{_id}})">Agregar Al Carrito</button>
</form>
{{/each}}
