<h1>Panel de Usuarios</h1>
{{#each Users}}
<h5>{{first_name}} {{last_name}}</h5>
<h5>{{email}}</h5>
<h5>{{role}}</h5>
<button onclick="updateRol('{{_id}}')">Modificar Rol</button>
<button onclick="deleteUser('{{_id}}')">Eliminar usuario</button>
{{/each}}

<script>
function updateRol(id){
    fetch(`http://localhost:8081/api/users/premium/${id}`,{
        method: 'PUT',
    })
    .then(window.location.reload())
}

function deleteUser(id){
    fetch(`http://localhost:8081/api/users/${id}`,{
        method: 'DELETE'
    })
    .then(window.location.reload())
}
</script>